<!DOCTYPE HTML>
<html>
	<head>
		<title>Astral Credits | XAC - Part of the SONGBIRD universe!</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta property="og:site_name" content="Astral Credits | XAC">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://astralcredits.xyz/">
		<meta property="og:image" content="https://raw.githubusercontent.com/HelloMokuzai/AstralCredits/main/static/images/banner3.jpg">
		<meta property="og:description" content="Distributed FREELY to the SONGBIRD community! Our vision is to bootstrap a completely self-sustaining ecosystem through the free & fair distribution of XAC tokens to the SONGBIRD community. Astral Credits boasts a fixed supply cap, sound monetary policy and a free & fair distribution model to promote strong Store of Value (SoV) like properties.">
		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:title" content="Astral Credits | XAC"/>
		<meta name="twitter:description" content="Distributed FREELY to the SONGBIRD community! Our vision is to bootstrap a completely self-sustaining ecosystem through the free & fair distribution of XAC tokens to the SONGBIRD community. Astral Credits boasts a fixed supply cap, sound monetary policy and a free & fair distribution model to promote strong Store of Value (SoV) like properties."/>
		<meta name="twitter:site" content="@AstralCredits"/>
		<meta name="twitter:image" content="https://raw.githubusercontent.com/HelloMokuzai/AstralCredits/main/static/images/banner3.jpg"/>
		<meta name="twitter:creator" content="@HelloMokuzai"/>
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="https://astralcredits.xyz/">Astral Credits | <b>XAC</b></a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="https://astralcredits.xyz/">Home</a></li>
											<li><a href="#discover" class="scrolly">Discover</a></li>
											<li><a href="#faucet" class="scrolly">Faucet</a></li>
											<li><a href="#support" class="scrolly">Support</a></li>
											<li><a href="#eco" class="scrolly">Ecosystem</a></li>
											<li><a href="#price" class="scrolly">Price</a></li>
											<li><a href="#cta" class="scrolly">Technical</a></li>
										</ul>
										<ul>
											<li><a href="https://discord.gg/AJd4YDZSqD" class="button discord fit" target="_blank"><i class="icon brands fa-discord"></i> Join Discord</a></li>
											<li><a href="https://twitter.com/AstralCredits" class="button twitter fit" target="_blank"><i class="icon brands fa-twitter"></i> Twitter</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2><rain>ASTRAL CREDITS</rain></h2>
							<p><img src="images/logo.svg" alt="" width="20%" height="20%" /></p>
							Distributed FREELY to explorers<br />
							of the <a href="https://flare.network/songbird/" target="_blank">SONGBIRD</a> network!</p>
							<ul class="actions special">
								<li><a href="#faucet" class="button primary scrolly">Begin Claiming</a></li>
							</ul>
						</div>
						<a href="#discover" class="more scrolly">Explore the Galaxy</a>
					</section>
										
				<!-- Discover -->
					<section id="discover" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2><b>Utility for the new</b> GALACTIC <b>economy</b></h2>
								<p><b>Astral Credits is a community-driven cryptocurrency project developing decentralized applications on the SONGBIRD Network, built upon sound money principles.</b></p>
								<p>Our vision is to bootstrap a completely self-sustaining ecosystem through the free & fair distribution of XAC tokens to the FLARE NETWORKS community. Astral Credits boasts a fixed supply cap, sound monetary policy and a free & fair distribution model to promote strong Store of Value (SoV) like properties.</p>
								<p><a href="docs/Vision-Statement.pdf" class="button" target="_blank"><i class="icon solid fa-arrow-alt-circle-down"></i> Our Vision Statement</a>
							</header>
							<ul class="features">
								<li class="icon solid fa-coins">
									<h3>Fixed Supply Cap</h3>
									<p>A hard cap of 1 BILLION Astral Credits have been minted to ensure the value each token represents cannot be debased through monetary inflation.</p>
								</li>
								<li class="icon solid fa-chart-line">
									<h3>Deflationary Supply Schedule</h3>
									<p>Tokens are distributed to the community for FREE via a faucet with a built-in deflationary supply schedule to help promote strong Store of Value (SoV) like properties.</p>
								</li>
								<li class="icon solid fa-handshake">
									<h3>Free & Fair Distribution</h3>
									<p>80% of tokens to be distributed FREELY to the community. With the remaining 20% in reserve to aid in funding future projects and to help expand the XAC ecosystem.</p>
								</li>
								<li class="icon solid fa-lock">
									<h3>Secure, Fast & Low Cost</h3>
									<p>Astral Credits utilises the SONGBIRD PoS smart contract network which enables secure, low fee transactions with near instant finality.</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- Faucet -->
					<section id="faucet" class="wrapper style2 special">
						<div class="inner">
							<header class="major">
								<h2 id="astral-faucet"><rain><b>Astral Credits</b> Faucet</rain></h2>
									<p><img src="images/AstralCreds-Animated.gif" alt="" width="20%" height="20%" /></p>
										</header>
											<h2><b>Join the </b>Community<b>!</b></h2>
											<p><a href="https://discord.gg/AJd4YDZSqD" class="button discord" target="_blank"><i class="icon brands fa-discord"></i> Join Discord</a></p>
											<p><b>The faucet is accesible via the community Discord.</b></p>
											<p></p>Simply join our Discord server and register to begin claiming!<br>
											Type <code>!getstarted</code> in chat to learn how!</p>
											<p>&nbsp;</p>

							<h1>Distribution Info</h1>
									<div class="table-wrapper">
										<table>
											<tbody>
												<tr>
													<td>Current Payout Amount:</td>
													<td><span id="current-payout">x</span> XAC</td>
												</tr>
												<tr>
													<td>User Claim Limit:</td>
													<td>24HR's after last successful claim until monthly global claim limit reached</td>
												</tr>
												<tr>
													<td>Claims Remaining this Month:</td>
													<td><span id="uses-left">{{ uses_left }}</span> Remaining</td>
												</tr>
												<tr>
													<td>Monthly Claims Reset Timer:</td>
													<td><span id="month-days">x</span> Days <span id="month-hours">x</span> Hours <span id="month-minutes">x</span> Minutes <span id="month-seconds">x</span> Seconds</span></td>
												</tr>
												<tr>
													<td>Payout Halving Timer:</td>
													<td><span id="halving-days">x</span> Days <span id="halving-hours">x</span> Hours <span id="halving-minutes">x</span> Minutes <span id="halving-seconds">x</span> Seconds</span></td>
												</tr>
											</tbody>
										</table>
										<p>You can also type <code>/faucet_stats</code> in Discord to receive a running update on XAC distribution!</p></p>
									</div>

						</div>
					</section>

				<!-- Support --> 
					<section id="support" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>SUPPORT <b>the Astral Credits project</b></h2>
								<p>Support the Astral Credits project today by purchasing an Astral Credits NFT badge on Sparkles! Badge holders will have the unique opportunity to secure additional tokens beyond those distributed via the faucet by receiving routine airdrops 1:1 of the RRP (XAC to SGB) on each halving event. NFT Holders can also claim Citizenship status via the <a href="https://discord.gg/AJd4YDZSqD" target="_blank">Astral Credits Community Discord</a>, which provides additional perks such as access to private channels, tools and exclusive opportunities to earn XAC through giveaways and competitions!</p>
							</header>
								<div class="box alt">
									<div class="row aln-center gtr-25 gtr-uniform">
										<div class="col-3"><span class="image fit"><img src="images/AstralCreds-Animated2.gif" alt="" /></span></div>
										<div class="col-3"><span class="image fit"><img src="images/AstralCreds-Animated3.gif" alt="" /></span></div>
										<div class="col-3"><span class="image fit"><img src="images/AstralCreds-Animated.gif" alt="" /></span></div>
										<div class="col-3"><span class="image fit"><img src="images/AstralCreds-Animated4.gif" alt="" /></span></div>
									</div> 
								</div>
							<p><a href="https://sparklesnft.com/collection/songbird/astralcredits/" class="button" target="_blank"><i class="icon solid fa-shopping-cart"></i> Buy on Sparkles</a></p>
                            				<p>Buy an Astral Credits NFT badge on <a href="https://marketplace.flareocean.io/collection/19/0x288f45e46ad434808c65880dcc2f21938b7da23d" target="_blank"><b>FlareOcean Marketplace</b></a> and receive <b>10% OFF</b>!<br></p>
							<hr />
                            				<p><b>Please also consider donating Songbird (SGB) to the address below to provide gas fees for use in the faucet for distribution of XAC to the community. A small amount can go a long way!</b></p>
							<p><a onclick="DonateFunction()";><input type="text" value="0xb1Db39De1d4DaEAFeAD4267E1CC5d30651b27833" id="DonateAddress"></a></p>
							<p>Thank you for your support! ❤️</p>						
						</div>
					</section>
				
				<!-- Ecosystem -->
					<section id="eco" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="images/feature1.jpg" alt="" /></div><div class="content">
								<h2>Bifrost Wallet<br />
								<b>Proudly supporting Astral Credits</b></h2>
								<p>With native SONGBIRD Network support. Have full control over your XAC tokens with a self custody wallet, NFT gallery and Web3 browser all in one simple and secure app.</p>
                                				<p><a href="https://bifrostwallet.com/" class="button" target="_blank"><i class="icon solid fa-external-link-alt"></i> Bifrost Wallet</a></p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/feature4.jpg" alt="" /></div><div class="content">
								<h2>Discord Tipbot<br />
								<b>Built for the community</b></h2>
								<p>Send & receive tips, pay for goods or services and play games using XAC with our native Discord tipping service! Whilst custodial in nature, all transactions occur on-chain. </p>
                                				<p><a href="https://discord.gg/AJd4YDZSqD" class="button" target="_blank"><i class="icon brands fa-discord"></i> Join Discord</a></p>
							</div>
						</section>
                        			<section class="spotlight">
							<div class="image"><img src="images/feature2.jpg" alt="" /></div><div class="content">
								<h2>Pixel Planet<br />
								<b>Powered by Astral Credits</b></h2>
								<p>Pixel Planet is a DApp (Decentralized Application) powered by Astral Credits. Buy pixels on the shared canvas using XAC, collaborate or compete to create amazing works and share them with the SONGBIRD community!</p>
                                				<p><a href="https://www.astralcredits.xyz/pixels/" class="button" target="_blank"><i class="icon solid fa-external-link-alt"></i> Pixel Planet</a></p>
							</div>
						</section>
                        			<section class="spotlight">
							<div class="image"><img src="images/feature3.jpg" alt="" /></div><div class="content">
								<h2>BlazeSwap<br />
								<b>Decentralized Exchange</b></h2>
								<p>Buy/Sell XAC or add liquidity to the BlazeSwap Astral Credits pool to earn liquidity provider rewards on your XAC!</p>
                                				<p><a href="https://app.blazeswap.xyz/swap/" class="button " target="_blank"><i class="icon solid fa-shopping-cart"></i> BlazeSwap</a></p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/feature5.jpg" alt="" /></div><div class="content">
								<h2>Songbird Domains<br />
								<b>Web3 domain name service</b></h2>
								<p>Domain names are human readable digital ID's living on the blockchain, such as <code>astralcredits.sgb</code>. Use Songbird Domains SEND Function to send XAC directly to any <code>.sgb</code> domain name holder!</p>
                                				<p><a href="https://songbird.domains/#/send-tokens" class="button " target="_blank"><i class="icon solid fa-external-link-alt"></i> Send XAC</a> <a href="https://songbird.domains/" class="button " target="_blank"><i class="icon solid fa-shopping-cart"></i> Buy Domain</a></p>
							</div>
						</section>
					</section>
                    
                		<!-- Price -->
					<section id="price" class="wrapper alt style2">
								<iframe height="700" width="100%" id="geckoterminal-embed" title="GeckoTerminal Embed" src="https://www.geckoterminal.com/songbird/pools/0xa49259d33f8bea503e59f3e75af9d43a119598c0?embed=1&info=0&swaps=0" frameborder="0" allow="clipboard-write" allowfullscreen></iframe>
					</section>

				<!-- Technical -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<span class="image right"><img src="images/qr-code.svg" alt=""/></span>
								<h3>Technical</h2>
								<p>Astral Credits (XAC) is an ERC20 token on the <a href="https://flare.xyz/introducing-songbird/" target="_blank">SONGBIRD</a> Network.</br>
								<form><input type="text" value="0x61b64c643fCCd6ff34Fc58C8ddff4579A89E2723" id="ContractAddress"></form> 
								<a class="button" onclick="ContractFunction()";><i class="icon solid fa-copy"></i> Copy to Clipboard</a></p>
							</header>
							<ul class="actions stacked">
								<li><a href="docs/Whitepaper.pdf" class="button primary fit" target="_blank"><i class="icon solid fa-arrow-alt-circle-down"></i> Whitepaper</a></li> 
								<li><a href="https://songbird-explorer.flare.network/token/0x61b64c643fCCd6ff34Fc58C8ddff4579A89E2723/token-transfers" class="button fit" target="_blank">View Contract</a></li>
								<li><a href="https://docs.flare.network/user/wallets/how-to-access-flare-network-with-metamask/" class="button fit" target="_blank">Add Songbird</a></li>
							</ul> 
						</div>
					</section>						

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="https://twitter.com/AstralCredits" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
							<li><a href="https://discord.gg/AJd4YDZSqD" class="icon brands fa-discord" target="_blank"><span class="label">Discord</span></a></li>
							<li><a href="https://github.com/HelloMokuzai/AstralCredits" class="icon brands fa-github" target="_blank"><span class="label">Github</span></a></li>
							<li><a href="mailto:astralcredits@outlook.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Astral Credits 2022</li>
							<li>MKZI Design Labs</li>
							<li><a href="docs/Terms-of-Service.pdf" target="_blank">Terms of Service</a></li>
						</ul>
					</footer>
				
				<!-- Web Services Advert -->
				<div class="wrapper alt style3">
                    			<center>❤️ The faucet? <a href="https://prussia.dev/sample" target="_blank">Prussia's Web Services</a> can build one for you!</center>
                    		</div>		
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script>
				function ContractFunction() {
					var copyText = document.getElementById("ContractAddress");
					copyText.select();
					copyText.setSelectionRange(0, 99999)
					document.execCommand("copy");
					alert("Copied to clipboard: " + copyText.value);
				}
				function DonateFunction() {
					var copyText = document.getElementById("DonateAddress");
					copyText.select();
					copyText.setSelectionRange(0, 99999)
					document.execCommand("copy");
					alert("Copied to clipboard: " + copyText.value);
				}
				function Reset() {
					document.getElementById("Address").value = "";
				}
				
				const START_YEAR = 2023;
				const START_MONTH = 2;
				
				const START_PAYOUT = 6000;
				
				//return number of months since start of distribution
				//starts at month 0
				function get_month() {
					let date = new Date();
					let years = date.getUTCFullYear()-START_YEAR;
					let months = date.getUTCMonth()-START_MONTH;
					return years*12+months;
				}
				
				//get amount to payout, for current month
				function get_amount() {
					let month = get_month();
					let halvings = Math.floor(month/6);
					let payout = START_PAYOUT;
					//payout halves every six months
					for (let i=0; i < halvings; i++) {
						payout = payout/2;
					}
					return payout;
				}

				document.getElementById("current-payout").innerText = String(get_amount());

				//countdown
				//next month
				function next_month_calc() {
					let current_date = new Date();
					let next_month = new Date(Date.UTC(current_date.getUTCFullYear(), current_date.getUTCMonth()+1));
					let seconds_until = (next_month.getTime() - current_date.getTime()) / 1000;
					let days_until = Math.floor(seconds_until / (60 * 60 * 24));
					document.getElementById("month-days").innerText = String(days_until);
					seconds_until -= days_until * (60 * 60 * 24);
					let hours_until = Math.floor(seconds_until / (60 * 60));
					document.getElementById("month-hours").innerText = String(hours_until);
					seconds_until -= hours_until * (60 * 60);
					let minutes_until = Math.floor(seconds_until / (60));
					document.getElementById("month-minutes").innerText = String(minutes_until);
					seconds_until -= minutes_until * (60);
					document.getElementById("month-seconds").innerText = String(Math.round(seconds_until));
				}
				next_month_calc();
				setInterval(next_month_calc, 1000);
				//next halving
				function next_halving_calc() {
					let current_date = new Date();
					let months_till_halving = 6-(get_month()%6);
					let next_halving = new Date(Date.UTC(current_date.getUTCFullYear(), current_date.getUTCMonth()+months_till_halving));
					let seconds_until = (next_halving.getTime() - current_date.getTime()) / 1000;
					let days_until = Math.floor(seconds_until / (60 * 60 * 24));
					document.getElementById("halving-days").innerText = String(days_until);
					seconds_until -= days_until * (60 * 60 * 24);
					let hours_until = Math.floor(seconds_until / (60 * 60));
					document.getElementById("halving-hours").innerText = String(hours_until);
					seconds_until -= hours_until * (60 * 60);
					let minutes_until = Math.floor(seconds_until / (60));
					document.getElementById("halving-minutes").innerText = String(minutes_until);
					seconds_until -= minutes_until * (60);
					document.getElementById("halving-seconds").innerText = String(Math.round(seconds_until));
				}
				next_halving_calc();
				setInterval(next_halving_calc, 1000);
				function onSubmit(token) {
					document.getElementById('faucet-form').submit();
				}
				//1678190400 is tues march 2023
				const faucet_open_date = 1678190400;
				if (Math.floor(Date.now()/1000) < faucet_open_date) {
					//faucet not open yet
					document.getElementById("Address").disabled = true;
					document.getElementsByClassName("claim")[0].classList.add("disabled");
					document.getElementById("faucet-reset").classList.add("disabled") 
					document.getElementById("faucet-open-countdown").style.display = "block";
					function faucet_open_calc() {
						let current_date = new Date();
						let seconds_until = (faucet_open_date*1000 - current_date.getTime()) / 1000;
						let days_until = Math.floor(seconds_until / (60 * 60 * 24));
						document.getElementById("faucet-open-days").innerText = String(days_until);
						seconds_until -= days_until * (60 * 60 * 24);
						let hours_until = Math.floor(seconds_until / (60 * 60));
						document.getElementById("faucet-open-hours").innerText = String(hours_until);
						seconds_until -= hours_until * (60 * 60);
						let minutes_until = Math.floor(seconds_until / (60));
						document.getElementById("faucet-open-minutes").innerText = String(minutes_until);
						seconds_until -= minutes_until * (60);
						document.getElementById("faucet-open-seconds").innerText = String(Math.round(seconds_until));
					}
					faucet_open_calc();
					setInterval(faucet_open_calc, 1000);
				}
				//
			</script>
			{% if tx or error %}
				<script>
					window.location.hash = "astral-faucet";
				</script>
			{% endif %}
	</body>
</html>
